<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YieldAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="YieldAnalyzer.Properties.Settings.SQL_Timo" connectionString="user id=username;password=password;server=Timo-Server;Trusted_Connection=yes;database=weibo; connection timeout=120" />
        <add name="YieldAnalyzer.Properties.Settings.SQL_Michael" connectionString="user id=username;password=password;server=Michael-PC;Trusted_Connection=yes;database=weiboDEV; connection timeout=6000" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <YieldAnalyzer.Properties.Settings>
            <setting name="disp" serializeAs="String">
                <value>True</value>
            </setting>
        </YieldAnalyzer.Properties.Settings>
    </userSettings>
</configuration>